[build]
  command = "echo 'skipping build (run npm run build manually)'"
  functions = "dist/netlify/functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200
  force = true